.col-12
{
    background-color: black;
    color: white;
}
.button
{
    margin-top:50px;
}
.col-4
{
    background-color: grey;
}
.col-8
{
    background-color: lightgrey;
}
.size
{
    margin-top: 30px;
}